.contact{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.service,.about{
    &-s4{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3,&-s4{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1,&-s2,&-s3,&-s6{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #666 !important;
            background-position: left!important;
        }
        &-s1,&-s2{
            background-position: right!important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #666;
            border-color: #333;
        }
        &-nav{
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
    .service{
        &-s1,&-s2,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
}