$prefix: "../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg",
    $prefix+"img/about/about-s4.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    $prefix+"img/index/index-s2.jpg",
    $prefix+"img/index/index-s3.jpg",
    "",
    "",
    $prefix+"img/index/index-s6.jpg";
$bg__privacy-img: "../img/coming.jpg";
$bg__service-img: 
    $prefix+"img/service/service-s1.jpg",
    $prefix+"img/service/service-s2.jpg",
    $prefix+"img/service/service-s3.jpg",
    $prefix+"img/service/service-s4.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__classes:
    "about",
    "comingsoon",
    "contact",
    "error",
    "index",
    "privacy",
    "service",
    "user";
$bg__aoa:
    $bg__about-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__privacy-img,
    $bg__service-img,
    $bg__user-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 